.popup__input{
    box-sizing: border-box;
    border:none;
    color:black;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 13px;
    max-width: 358px;
    min-height: 14px;
  }

  .popup__input:last-of-type{
    margin-top: 0px;
  }